<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>io.gervas.kanata</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/sudo</string>
        <string>-n</string>
        <string>/usr/local/bin/kanata-tray-macos</string>
    </array>

    <!-- Start as soon as you log in -->
    <key>RunAtLoad</key>
    <true/>

    <!-- Relaunch if it exits -->
    <key>KeepAlive</key>
    <true/>

    <!-- Run in GUI session -->
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
</dict>
</plist>